USE [ELearningPlatform]
GO
/****** Object:  Table [dbo].[SystemLog]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLog](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[performedBy] [int] NOT NULL,
	[timestamp] [datetime] NULL,
	[details] [nvarchar](max) NULL,
	[performedByAdmin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[staffID] [varchar](50) NOT NULL,
	[position] [nvarchar](100) NOT NULL,
	[lastLogin] [datetime] NULL,
	[email] [nvarchar](255) NULL,
	[passwordHash] [nvarchar](255) NULL,
 CONSTRAINT [PK__Admin__AD0500862ACFB99B] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Admin__6465E19F73E63C32] UNIQUE NONCLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AdminActivitySummary]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AdminActivitySummary] AS
SELECT 
    a.staffID,
    a.position,
    COUNT(sl.logID) as actionCount,
    MAX(sl.timestamp) as lastAction
FROM Admin a
LEFT JOIN SystemLog sl ON sl.performedByAdmin = a.adminID
GROUP BY a.staffID, a.position;
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[passwordHash] [varchar](255) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[profileImageURL] [varchar](500) NULL,
	[fullName] [nvarchar](100) NULL,
 CONSTRAINT [PK__User__CB9A1CDF7705703A] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__User__AB6E6164FD1321D5] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[instructorID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[teacherCode] [varchar](50) NOT NULL,
	[specialization] [nvarchar](100) NOT NULL,
	[avgRating] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[instructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[teacherCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseCategory]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseCategory](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[thumbnailURL] [varchar](500) NULL,
	[createdAt] [datetime] NULL,
	[createdByAdminID] [int] NULL,
	[modifiedByAdminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[categoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [int] IDENTITY(1,1) NOT NULL,
	[instructorID] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[fees] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[categoryID] [int] NOT NULL,
	[totalStudents] [int] NULL,
	[averageRating] [decimal](3, 2) NULL,
 CONSTRAINT [PK__Course__2AA84FF128F51EE4] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_CourseDetails]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_CourseDetails] AS
SELECT 
    c.courseID,
    c.title AS CourseTitle,
    u.fullName AS InstructorName,
    cat.categoryName,
    c.fees,
    c.averageRating,
    c.totalStudents
FROM Course c
JOIN Instructor i ON c.instructorID = i.instructorID 
JOIN [User] u ON i.userID = u.userID 
JOIN CourseCategory cat ON c.categoryID = cat.categoryID; 
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[rollNumber] [int] NOT NULL,
	[gradeLevel] [nvarchar](20) NOT NULL,
	[parentPhone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[rollNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[enrollID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[enrollDate] [date] NOT NULL,
	[paymentStatus] [bit] NULL,
	[progressPercent] [decimal](5, 2) NULL,
	[completionDate] [date] NULL,
	[isCompleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Enrollment_StudentCourse] UNIQUE NONCLUSTERED 
(
	[studentID] ASC,
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_StudentEnrollmentDetails]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_StudentEnrollmentDetails] AS
SELECT 
    s.studentID,
    u.fullName AS StudentName,
    c.title AS CourseTitle,
    e.enrollDate,
    e.progressPercent,
    e.isCompleted
FROM Enrollment e
JOIN Student s ON e.studentID = s.studentID
JOIN [User] u ON s.userID = u.userID 
JOIN Course c ON e.courseID = c.courseID;
GO
/****** Object:  Table [dbo].[Announcement]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement](
	[announcementID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[targetAudience] [nvarchar](20) NOT NULL,
	[expiryDate] [date] NULL,
	[createdByAdminID] [int] NULL,
	[createdAt] [datetime] NULL,
 CONSTRAINT [PK__Announce__9C77CBE698B1A395] PRIMARY KEY CLUSTERED 
(
	[announcementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[assignmentID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[dueDate] [datetime] NULL,
	[totalMarks] [int] NULL,
	[version] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[assignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Badge]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badge](
	[badgeID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[iconURL] [varchar](500) NOT NULL,
	[criteria] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[badgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[certID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[issueDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[certID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[commentID] [int] IDENTITY(1,1) NOT NULL,
	[parentPostID] [int] NOT NULL,
	[authorID] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[timestamp] [datetime] NULL,
 CONSTRAINT [PK__Comment__CDDE91BD6F8F8245] PRIMARY KEY CLUSTERED 
(
	[commentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscussionThread]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscussionThread](
	[threadID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[creatorID] [int] NOT NULL,
	[meetingURL] [varchar](500) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[category] [nvarchar](100) NOT NULL,
	[isPinned] [bit] NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[maxParticipants] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[threadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[lessonID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[videoURL] [varchar](500) NOT NULL,
	[duration] [int] NOT NULL,
	[lessonOrder] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[version] [int] NULL,
 CONSTRAINT [PK__Lesson__F88A9798B6933E98] PRIMARY KEY CLUSTERED 
(
	[lessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Lesson_CourseOrder] UNIQUE NONCLUSTERED 
(
	[courseID] ASC,
	[lessonOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[senderID] [int] NOT NULL,
	[receiverID] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[sentAt] [datetime] NULL,
	[isRead] [bit] NULL,
 CONSTRAINT [PK__Message__4808B873A63A4A49] PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[postID] [int] IDENTITY(1,1) NOT NULL,
	[threadID] [int] NOT NULL,
	[authorID] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[upvotes] [int] NULL,
	[isMarkedAsAnswer] [bit] NULL,
 CONSTRAINT [PK__Post__DD0C73BA76A0D1ED] PRIMARY KEY CLUSTERED 
(
	[postID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[quizID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[timeLimit] [int] NOT NULL,
	[passingScore] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[quizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizAttempt]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAttempt](
	[attemptID] [int] IDENTITY(1,1) NOT NULL,
	[quizID] [int] NOT NULL,
	[studentID] [int] NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NULL,
	[score] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizOption]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizOption](
	[optionID] [int] IDENTITY(1,1) NOT NULL,
	[questionID] [int] NOT NULL,
	[optionText] [nvarchar](500) NULL,
	[isCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[optionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizQuestion]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestion](
	[questionID] [int] IDENTITY(1,1) NOT NULL,
	[quizID] [int] NOT NULL,
	[questionText] [nvarchar](max) NULL,
	[marks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[ratingID] [int] IDENTITY(1,1) NOT NULL,
	[instructorID] [int] NOT NULL,
	[studentID] [int] NOT NULL,
	[score] [int] NOT NULL,
	[review] [nvarchar](max) NULL,
	[submittedAt] [datetime] NULL,
 CONSTRAINT [PK__Rating__2D290D495D0EB844] PRIMARY KEY CLUSTERED 
(
	[ratingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Rating_InstructorStudent] UNIQUE NONCLUSTERED 
(
	[instructorID] ASC,
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[reportID] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NULL,
	[data] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[reviewID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[studentID] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[helpfulCount] [int] NULL,
 CONSTRAINT [PK__Review__2ECD6E24061D9484] PRIMARY KEY CLUSTERED 
(
	[reviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Review_StudentCourse] UNIQUE NONCLUSTERED 
(
	[studentID] ASC,
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentBadge]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentBadge](
	[studentBadgeID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[badgeID] [int] NOT NULL,
	[dateEarned] [datetime] NULL,
	[dateDisplayed] [datetime] NULL,
	[isVisibleOnProfile] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[studentBadgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StudentBadge] UNIQUE NONCLUSTERED 
(
	[studentID] ASC,
	[badgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyGroup]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyGroup](
	[groupID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[createdBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[groupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyGroupMember]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyGroupMember](
	[groupMemberID] [int] IDENTITY(1,1) NOT NULL,
	[groupID] [int] NOT NULL,
	[studentID] [int] NOT NULL,
	[joinDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[groupMemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StudyGroupMember] UNIQUE NONCLUSTERED 
(
	[groupID] ASC,
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submission]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submission](
	[submissionID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[assignmentID] [int] NOT NULL,
	[filePath] [varchar](500) NOT NULL,
	[score] [int] NULL,
	[feedback] [nvarchar](max) NULL,
 CONSTRAINT [PK__Submissi__B1DEEF72891FEC66] PRIMARY KEY CLUSTERED 
(
	[submissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Submission_StudentAssignment] UNIQUE NONCLUSTERED 
(
	[studentID] ASC,
	[assignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suggestion]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suggestion](
	[suggestionID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[studentID] [int] NOT NULL,
	[content] [text] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[submittedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[suggestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThreadParticipant]    Script Date: 5/18/2026 9:22:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThreadParticipant](
	[threadParticipantID] [int] IDENTITY(1,1) NOT NULL,
	[threadID] [int] NOT NULL,
	[studentID] [int] NOT NULL,
	[joinTime] [datetime] NULL,
	[leaveTime] [datetime] NULL,
	[durationMinutes] [int] NULL,
	[attendanceStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[threadParticipantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ThreadParticipant] UNIQUE NONCLUSTERED 
(
	[threadID] ASC,
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcement] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Assignment] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[Certificate] ADD  DEFAULT (getdate()) FOR [issueDate]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF__Comment__timesta__2B0A656D]  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF__Course__fees__4CA06362]  DEFAULT ((0.00)) FOR [fees]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF__Course__status__4D94879B]  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT ((0)) FOR [totalStudents]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT ((0)) FOR [averageRating]
GO
ALTER TABLE [dbo].[CourseCategory] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[DiscussionThread] ADD  DEFAULT ((0)) FOR [isPinned]
GO
ALTER TABLE [dbo].[DiscussionThread] ADD  DEFAULT ((100)) FOR [maxParticipants]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (getdate()) FOR [enrollDate]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT ((0)) FOR [paymentStatus]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT ((0.00)) FOR [progressPercent]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT ((0)) FOR [isCompleted]
GO
ALTER TABLE [dbo].[Instructor] ADD  DEFAULT ((0.00)) FOR [avgRating]
GO
ALTER TABLE [dbo].[Lesson] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF__Message__sentAt__07C12930]  DEFAULT (getdate()) FOR [sentAt]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF__Message__isRead__08B54D69]  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF__Post__upvotes__7D439ABD]  DEFAULT ((0)) FOR [upvotes]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF__Post__isMarkedAs__7E37BEF6]  DEFAULT ((0)) FOR [isMarkedAsAnswer]
GO
ALTER TABLE [dbo].[QuizAttempt] ADD  DEFAULT ('In Progress') FOR [status]
GO
ALTER TABLE [dbo].[QuizOption] ADD  DEFAULT ((0)) FOR [isCorrect]
GO
ALTER TABLE [dbo].[QuizQuestion] ADD  DEFAULT ((1)) FOR [marks]
GO
ALTER TABLE [dbo].[Rating] ADD  CONSTRAINT [DF__Rating__submitte__14270015]  DEFAULT (getdate()) FOR [submittedAt]
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [DF__Review__helpfulC__0D7A0286]  DEFAULT ((0)) FOR [helpfulCount]
GO
ALTER TABLE [dbo].[StudentBadge] ADD  DEFAULT (getdate()) FOR [dateEarned]
GO
ALTER TABLE [dbo].[StudentBadge] ADD  DEFAULT ((1)) FOR [isVisibleOnProfile]
GO
ALTER TABLE [dbo].[StudyGroupMember] ADD  DEFAULT (getdate()) FOR [joinDate]
GO
ALTER TABLE [dbo].[Suggestion] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Suggestion] ADD  DEFAULT (getdate()) FOR [submittedAt]
GO
ALTER TABLE [dbo].[SystemLog] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[ThreadParticipant] ADD  DEFAULT ((0)) FOR [durationMinutes]
GO
ALTER TABLE [dbo].[ThreadParticipant] ADD  DEFAULT ('Absent') FOR [attendanceStatus]
GO
ALTER TABLE [dbo].[Announcement]  WITH CHECK ADD  CONSTRAINT [FK_Announcement_Admin] FOREIGN KEY([createdByAdminID])
REFERENCES [dbo].[Admin] ([adminID])
GO
ALTER TABLE [dbo].[Announcement] CHECK CONSTRAINT [FK_Announcement_Admin]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK__Certifica__cours__1EA48E88] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK__Certifica__cours__1EA48E88]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__authorI__2A164134] FOREIGN KEY([authorID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__authorI__2A164134]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__parentP__29221CFB] FOREIGN KEY([parentPostID])
REFERENCES [dbo].[Post] ([postID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__parentP__29221CFB]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK__Course__instruct__4BAC3F29] FOREIGN KEY([instructorID])
REFERENCES [dbo].[Instructor] ([instructorID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK__Course__instruct__4BAC3F29]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[CourseCategory] ([categoryID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Category]
GO
ALTER TABLE [dbo].[CourseCategory]  WITH CHECK ADD  CONSTRAINT [FK_CourseCategory_Admin] FOREIGN KEY([createdByAdminID])
REFERENCES [dbo].[Admin] ([adminID])
GO
ALTER TABLE [dbo].[CourseCategory] CHECK CONSTRAINT [FK_CourseCategory_Admin]
GO
ALTER TABLE [dbo].[DiscussionThread]  WITH CHECK ADD  CONSTRAINT [FK__Discussio__cours__75A278F5] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[DiscussionThread] CHECK CONSTRAINT [FK__Discussio__cours__75A278F5]
GO
ALTER TABLE [dbo].[DiscussionThread]  WITH CHECK ADD  CONSTRAINT [FK__Discussio__creat__76969D2E] FOREIGN KEY([creatorID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[DiscussionThread] CHECK CONSTRAINT [FK__Discussio__creat__76969D2E]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__cours__6383C8BA] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK__Enrollmen__cours__6383C8BA]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK__Instructo__userI__4316F928] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK__Instructo__userI__4316F928]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK__Lesson__courseID__5165187F] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK__Lesson__courseID__5165187F]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__receive__06CD04F7] FOREIGN KEY([receiverID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__receive__06CD04F7]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__senderI__05D8E0BE] FOREIGN KEY([senderID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__senderI__05D8E0BE]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK__Post__authorID__7C4F7684] FOREIGN KEY([authorID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK__Post__authorID__7C4F7684]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK__Post__threadID__7B5B524B] FOREIGN KEY([threadID])
REFERENCES [dbo].[DiscussionThread] ([threadID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK__Post__threadID__7B5B524B]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK__Quiz__courseID__5441852A] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK__Quiz__courseID__5441852A]
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD FOREIGN KEY([quizID])
REFERENCES [dbo].[Quiz] ([quizID])
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[QuizOption]  WITH CHECK ADD FOREIGN KEY([questionID])
REFERENCES [dbo].[QuizQuestion] ([questionID])
GO
ALTER TABLE [dbo].[QuizQuestion]  WITH CHECK ADD FOREIGN KEY([quizID])
REFERENCES [dbo].[Quiz] ([quizID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__Rating__instruct__114A936A] FOREIGN KEY([instructorID])
REFERENCES [dbo].[Instructor] ([instructorID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__Rating__instruct__114A936A]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__Rating__studentI__123EB7A3] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__Rating__studentI__123EB7A3]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK__Review__courseID__0B91BA14] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK__Review__courseID__0B91BA14]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK__Review__studentI__0C85DE4D] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK__Review__studentI__0C85DE4D]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__userID__48CFD27E] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__userID__48CFD27E]
GO
ALTER TABLE [dbo].[StudentBadge]  WITH CHECK ADD FOREIGN KEY([badgeID])
REFERENCES [dbo].[Badge] ([badgeID])
GO
ALTER TABLE [dbo].[StudentBadge]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[StudyGroup]  WITH CHECK ADD  CONSTRAINT [FK__StudyGrou__cours__01142BA1] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[StudyGroup] CHECK CONSTRAINT [FK__StudyGrou__cours__01142BA1]
GO
ALTER TABLE [dbo].[StudyGroup]  WITH CHECK ADD FOREIGN KEY([createdBy])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[StudyGroupMember]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [FK__Submissio__lesso__6B24EA82] FOREIGN KEY([assignmentID])
REFERENCES [dbo].[Lesson] ([lessonID])
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [FK__Submissio__lesso__6B24EA82]
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [FK__Submissio__stude__6A30C649] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [FK__Submissio__stude__6A30C649]
GO
ALTER TABLE [dbo].[Suggestion]  WITH CHECK ADD  CONSTRAINT [FK__Suggestio__cours__17036CC0] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Suggestion] CHECK CONSTRAINT [FK__Suggestio__cours__17036CC0]
GO
ALTER TABLE [dbo].[Suggestion]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[SystemLog]  WITH CHECK ADD  CONSTRAINT [FK__SystemLog__perfo__22751F6C] FOREIGN KEY([performedBy])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[SystemLog] CHECK CONSTRAINT [FK__SystemLog__perfo__22751F6C]
GO
ALTER TABLE [dbo].[SystemLog]  WITH CHECK ADD  CONSTRAINT [FK_SystemLog_Admin] FOREIGN KEY([performedByAdmin])
REFERENCES [dbo].[Admin] ([adminID])
GO
ALTER TABLE [dbo].[SystemLog] CHECK CONSTRAINT [FK_SystemLog_Admin]
GO
ALTER TABLE [dbo].[ThreadParticipant]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[ThreadParticipant]  WITH CHECK ADD FOREIGN KEY([threadID])
REFERENCES [dbo].[DiscussionThread] ([threadID])
GO
ALTER TABLE [dbo].[Announcement]  WITH CHECK ADD  CONSTRAINT [CK__Announcem__targe__5BE2A6F2] CHECK  (([targetAudience]='Students' OR [targetAudience]='Instructors' OR [targetAudience]='All'))
GO
ALTER TABLE [dbo].[Announcement] CHECK CONSTRAINT [CK__Announcem__targe__5BE2A6F2]
GO
ALTER TABLE [dbo].[Badge]  WITH CHECK ADD CHECK  (([name]='Top Performer' OR [name]='Perfect Attendance' OR [name]='Quiz Master'))
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [CK__Course__status__4E88ABD4] CHECK  (([status]='Published' OR [status]='Draft'))
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [CK__Course__status__4E88ABD4]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD CHECK  (([progressPercent]>=(0) AND [progressPercent]<=(100)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([passingScore]>=(0) AND [passingScore]<=(100)))
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD CHECK  (([score]>=(0) AND [score]<=(100)))
GO
ALTER TABLE [dbo].[QuizAttempt]  WITH CHECK ADD CHECK  (([status]='Completed' OR [status]='In Progress'))
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [CK__Rating__score__1332DBDC] CHECK  (([score]>=(1) AND [score]<=(5)))
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [CK__Rating__score__1332DBDC]
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [CK__Submissio__score__6C190EBB] CHECK  (([score]>=(0) AND [score]<=(100)))
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [CK__Submissio__score__6C190EBB]
GO
ALTER TABLE [dbo].[Suggestion]  WITH CHECK ADD CHECK  (([status]='Rejected' OR [status]='Approved' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[ThreadParticipant]  WITH CHECK ADD CHECK  (([attendanceStatus]='Absent' OR [attendanceStatus]='Late' OR [attendanceStatus]='Present'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK__User__role__398D8EEE] CHECK  (([role]='Student' OR [role]='Instructor' OR [role]='Admin'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK__User__role__398D8EEE]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK__User__status__38996AB5] CHECK  (([status]='Graduated' OR [status]='Suspended' OR [status]='Active'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK__User__status__38996AB5]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_ValidRole] CHECK  (([role]='Instructor' OR [role]='Student'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_ValidRole]
GO
/****** Object:  StoredProcedure [dbo].[sp_EnrollStudent]    Script Date: 5/18/2026 9:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EnrollStudent]
    @StudentID INT,
    @CourseID INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Enrollment ထဲ ဒေတာထည့်မယ်
        INSERT INTO Enrollment (studentID, courseID, enrollDate, progressPercent, isCompleted)
        VALUES (@StudentID, @CourseID, GETDATE(), 0, 0); 

        -- Course table မှာ ကျောင်းသားအရေအတွက်ကို ၁ တိုးမယ်
        UPDATE Course 
        SET totalStudents = totalStudents + 1 
        WHERE courseID = @CourseID; 

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateQuizResult]    Script Date: 5/18/2026 9:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateQuizResult]
    @AttemptID INT,
    @Score INT
AS
BEGIN
    UPDATE QuizAttempt 
    SET score = @Score,
        endTime = GETDATE(),
        status = CASE WHEN @Score >= 50 THEN 'Completed' ELSE 'In Progress' END 
    WHERE attemptID = @AttemptID; 
END;
GO
